* {
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: left;
	padding: 8px 12px;
	margin-top: 4px;
}

.right{
	display: inline;
	float: right;
	
	margin-top: 1px;
}

.nav {
	top: 0;
	widht: 100%;
	height: 50px;
	border-bottom:5px inset gray;
	position: relative;
	
}

#logo {
	height: 25px;
}

.video {
	display: inline-block; 
	position: relative;
	top: 15px;
	left: 90px;
	height: 400px;

}

p {
	font-size: 30px;
	color: black;
}

.coment_box {
	
	display: inline-block;
	position: relative:
	background: brown;
	bottom: 0;
	left: 90px;
	height: 400px;
}

span {
	font-size: 15px;
}

.description {
	position: relative;
	top: 15px;
	left: 90px;
	width: 750px;	
}

#user {
	font-size: 20px;
}

#descp {
	font-size: 15px;
}

.subscribe {
	display: inline;
	float: right;
	font-size: 20px;
	color: white;
	background: red;
	padding: 10px;
}
#padd {
	
	padding-left: 70px;
}

.more {
	font-size: 20px;
	color: gray;
}

.sidebar {
	padding: 17px 0 0 15px;
	height: 700px;
	width: 469px;
	position: absolute;
	top: 55px;
	right: 0px;
	
	
}

#sidi {
	font-size: 22px;
}

.videos {
	padding: 10px 0 0 0;
}

a:link {
  text-decoration: none;
}

.gfd {
	display= inline-block;
	float: left;
}
